# Mac
.DS_Store

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.bbl
*.fdb_latexmk
*.synctex.gz
*.pdf
*.cls
*.clo
*.sty
*.blg

tags

# Mathematica because of Overleaf
*.nb

tags
